tatus
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/LandingPageRepo/config/applicationhost.config
.vs/LandingPageRepo/FileContentIndex/577db8c6-6af7-41ba-b8dd-e50c57d9e570.vsidx
.vs/LandingPageRepo/FileContentIndex/read.lock
.vs/LandingPageRepo/v17/.suo
